@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.cardContainer {
	background-color: $ui-02;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	justify-content: space-between;
	padding: 2rem;
}

.container {
	height: 100vh;
}

.buttonMain {
	background-color: $ui-02;
	color: #007d79;
	cursor: text;
}

.sectionLoader {
	text-align: center;
}

.buttonMain:active, .buttonMain:focus, .buttonMain:hover {
	color: #007d79 !important;
	background-color: #fff !important;
}

.inactiveMain {
	margin-bottom: 4rem;
}

.buttonContainer {
	display: flex;
}

.buttonItems {
	flex: auto;
}

.pageHeaderContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: spacing.$spacing-05;
	background-color: #ededed;
}

.pageHeader {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $interactive-01;

  svg {
    margin-left: spacing.$spacing-03;
  }
}

.loader {
	margin: 2rem;
}
