@use '@carbon/styles/scss/spacing';

.container {
  margin: 1rem;
}

.backButton {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
  
  button {
    display: flex;
    padding-left: 0 !important;
    
    svg {
      order: 1;
      margin-right: spacing.$spacing-03;
      margin-left: 0 !important;
    }

    span {
      order: 2;
    }
  }
}