@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.widgetCard {
  border: 1px solid $ui-03;
  margin: 1.5rem;
}

.form {
  display: grid;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.filterContainer {
  flex: 1;

  :global(.cds--dropdown__wrapper--inline) {
    gap: 0;
  }

  :global(.cds--list-box__menu-icon) {
    height: 1rem;
  }
}
