@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.widgetCard {
  border: 1px solid $ui-03;
  margin: 1.5rem;
}

.flippedOverflowMenu {
  background-color: inherit;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: end;
}
