@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.container {
  background-color: white;
  height: calc(100vh - 3rem);
}

:global(.omrs-breakpoint-gt-tablet) .container {
  margin-left: var(--omrs-sidenav-width);
}
